{% extends "base.html" %}

{% load static %}

<body>
  <!--**********************************
        Main wrapper start
    ***********************************-->
  <div id="main-wrapper">
    {% block mainbody %}
      <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">MCC Report</h4>
                  <div class="form-group">
                    <form method="get">
                      {{ filter.form.as_table }}
                      <input type="submit" />
                    </form>
                  </div>
                  <div class="row ml-0">
                    <small class="mr-4"><strong>Latest reports dates</strong></small>
                    <small class="text-black-50 mr-3"><strong>Sales:</strong>{{ dates.sales|date:"d/m/Y" }}</small>
                    <small class="text-black-50 mr-3"><strong>Stocks:</strong>{{ dates.stock|date:"d/m/Y" }}</small>
                    <small class="text-black-50 mr-3"><strong>Orders:</strong>{{ dates.orders|date:"d/m/Y" }}</small>
                  </div>
                </div>
                <div>EXTRA {{ context }}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row form-material">
                    <div class="card-title col-8">Aggregated report</div>
                    <div class="col-4 input-group  align-self-end">
                      <div class="mr-2 mt-3">Select store entry date</div>
                      <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" />
                      <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                    </div>
                  </div>
                  <p>This is dates, baby: {{ dates }}</p>
                  <p>This is sales, baby: {{ dates.sales }}</p>
                </div>
              </div>
            </div>
          </div>
          {% for obj in filter.qs %}
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row form-material">
                      <div class="card-title col-8">MCC: {{ obj.mcc }}</div>
                    </div>
                    <div class="text-black-50 ml-3">
                      <div class="row">
                        <small class="mr-2"><strong>Season:</strong>{{ obj.season }}</small>
                        <small class="mr-2"><strong>Continuity:</strong>{{ obj.carry_over|yesno:"Yes,No" }}</small>
                        <small class="mr-2"><strong>Description:</strong>{{ obj.description|default:"Description is not provided" }}</small>
                      </div>
                      <div class="row">
                        <small class="mr-2"><strong>Purchased quantity:</strong>{{ obj.purchased }}</small>
                        <small class="mr-2"><strong>Stores stock:</strong>{{ obj.stores_stock }}</small>
                        <small class="mr-2"><strong>Country stock:</strong>{{ obj.country_stock }}</small>
                        <small class="mr-2"><strong>Pending delivery:</strong>{{ obj.pending_delivery }}</small>
                      </div>
                      <div class="row">
                        <small class="mr-2"><strong>Rotation:</strong>
                          {% if obj.rotation > 6 %}
                            <span class="badge badge-danger">{{ obj.rotation }} weeks</span></small>
                        {% else %}
                          <span class="badge badge-success">{{ obj.rotation }} weeks</span>
                        {% endif %}
                      </small>
                      <small class="mr-2"><strong>Sellthrough:</strong>
                        {% if obj.sellthrough > 10 %}
                          <span class="badge badge-success">{{ obj.sellthrough }}%</span></small>
                      {% else %}
                        <span class="badge badge-danger">{{ obj.sellthrough }}%</span>
                      {% endif %}
                    </small>
                  </div>
                </div>
                <div class="table-responsive mt-0">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>First day</th>
                        <th>06/11/2023</th>
                        <th>13/11/2023</th>
                        <th>20/11/2023</th>
                        <th>27/11/2023</th>
                        <th>03/12/2023</th>
                        <th>10/12/2023</th>
                        <th>17/12/2023</th>
                        <th>24/12/2023</th>
                        <th>10/12/2023</th>
                        <th>17/12/2023</th>
                        <th>24/12/2023</th>
                      </tr>
                    </thead>
                    <tbody>
                      {#                        {% for obj in filter.qs %}#}
                      {#                            <td>{{ obj.family }}</td>#}
                      <tr>
                        <td>Week number</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>Reference MCC Sales</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>Actual Sales</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>Planned Sales</td>
                        <td>
                          <input type="search" class="form-control-sm col-6" aria-label="Order units" />
                        </td>
                        <td>
                          <input type="search" class="form-control-sm col-6" aria-label="Order units" />
                        </td>
                        <td>
                          <input type="search" class="form-control-sm col-6" aria-label="Order units" />
                        </td>
                        <td>
                          <input type="search" class="form-control-sm col-6" aria-label="Order units" />
                        </td>
                        <td>
                          <input type="search" class="form-control-sm col-6" aria-label="Order units" />
                        </td>
                        <td>
                          <input type="search" class="form-control-sm col-6" aria-label="Order units" />
                        </td>
                        <td>
                          <input type="search" class="form-control-sm col-6" aria-label="Order units" />
                        </td>
                        <td>
                          <input type="search" class="form-control-sm col-6" aria-label="Order units" />
                        </td>
                        <td>
                          <input type="search" class="form-control-sm col-6" aria-label="Order units" />
                        </td>
                        <td>
                          <input type="search" class="form-control-sm col-6" aria-label="Order units" />
                        </td>
                        <td>
                          <input type="search" class="form-control-sm col-6" aria-label="Order units" />
                        </td>
                      </tr>
                      {#                        {% endfor %}#}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- #/ container -->
    </div>
    <!--**********************************
            Content body end
        ***********************************-->
  </div>
{% endblock mainbody %}
</div>
<!--**********************************
        Main wrapper end
***********************************-->
<!--**********************************
        Scripts
    ***********************************-->
{% block extrascripts %}
  <script src="{% static './plugins/tables/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static './plugins/tables/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static './plugins/tables/js/datatable-init/datatable-basic.min.js' %}"></script>
{% endblock extrascripts %}
</body>
