{% extends "base.html" %}

{% load static %}

<body>
<!--**********************************
      Main wrapper start
  ***********************************-->
<div id="main-wrapper">
  {% block mainbody %}
  <!--**********************************
        Content body start
    ***********************************-->
  <div class="content-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">MCC Report</h4>
              <div class="form-group">
                <form method="get">
                  {{ filter.form.as_table }}
{#                  <input type="submit" />#}
                  <button type="submit" class="btn waves-effect waves-light btn-success ml-2 pt-0 pb-0" >
                        Filter Mccs
                      </button>
                </form>
              </div>
              <div class="row ml-0">
                <small class="mr-4"><strong>Latest reports dates</strong></small>
                <small class="text-black-50 mr-3"><strong>Sales:</strong>{{ dates.sales|date:"d/m/Y" }}</small>
                <small class="text-black-50 mr-3"><strong>Stocks:</strong>{{ dates.stock|date:"d/m/Y" }}</small>
                <small class="text-black-50 mr-3"><strong>Orders:</strong>{{ dates.orders|date:"d/m/Y" }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row form-material">
                <div class="card-title col-8">Aggregated report</div>
                <div class="col-4 input-group  align-self-end">
                  <div class="mr-2 mt-3">Select store entry date</div>

                    <form action="" method="POST" class="form-inline">
                      {% csrf_token %}
                      <input type="text" name="store_entry_date" class="form-control-sm pt-1 pb-1" id="datepicker-autoclose"
                              {% if dates.store_entry_date %}
                               placeholder="{{ dates.store_entry_date|date:"d/m/Y" }}"
                              {% else %}
                              placeholder="dd/mm/yyyy"
                              {% endif %}
                            >
                      <button type="submit" class="btn waves-effect waves-light btn-success ml-2" >
                        Set
                      </button>
                    </form>
                </div>
              </div>
              <div class="text-black-50 ml-3">
                <div class="row">
                  <small class="mr-2"><strong>Season: </strong>{{ obj.season }}</small>
                  <small class="mr-2"><strong>Continuity: </strong>
                      {% if obj.carry_over %}
                      <span class="badge badge-danger">{{ obj.carry_over|yesno:"Yes,No" }}</span>
                      {% else %}
                      <span class="badge badge-success">{{ obj.carry_over|yesno:"Yes,No" }}</span>
                      {% endif %}
                  </small>
                  <small class="mr-2"><strong>Description: </strong>{{ obj.description|default:"Description is not provided" }}</small>
                </div>
                <div class="row">
                  <small class="mr-2"><strong>Purchased quantity: </strong>{{ obj.purchased }}</small>
                  <small class="mr-2"><strong>Stores stock: </strong>{{ obj.stores_stock }}</small>
                  <small class="mr-2"><strong>Country stock: </strong>{{ obj.country_stock }}</small>
                  <small class="mr-2"><strong>Pending delivery: </strong>{{ obj.pending_delivery }}</small>
                </div>
                <div class="row">
                  <small class="mr-2"><strong>Rotation: </strong>
                    {% if obj.rotation > 6 %}
                    <span class="badge badge-danger">{{ obj.rotation }} weeks</span></small>
                  {% else %}
                  <span class="badge badge-success">{{ obj.rotation }} weeks</span>
                  {% endif %}
                  </small>
                  <small class="mr-2"><strong>Sellthrough: </strong>
                    {% if obj.sellthrough > 10 %}
                    <span class="badge badge-success">{{ obj.sellthrough }}%</span></small>
                  {% else %}
                  <span class="badge badge-danger">{{ obj.sellthrough }}%</span>
                  {% endif %}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% for obj in filter.qs %}
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row form-material">
                <div class="card-title col-8">MCC: {{ obj.mcc }}</div>
              </div>
              <div class="text-black-50 ml-3">
                <div class="row">
                  <small class="mr-2"><strong>Season: </strong>{{ obj.season }}</small>
                  <small class="mr-2"><strong>Continuity: </strong>
                  {% if obj.carry_over %}
                      <span class="badge badge-danger">{{ obj.carry_over|yesno:"Yes,No" }}</span>
                      {% else %}
                      <span class="badge badge-success">{{ obj.carry_over|yesno:"Yes,No" }}</span>
                      {% endif %}
                  </small>
                  <small class="mr-2"><strong>Description: </strong>{{ obj.description|default:"Description is not provided" }}</small>
                </div>
                <div class="row">
                  <small class="mr-2"><strong>Purchased quantity: </strong>{{ obj.purchased }}</small>
                  <small class="mr-2"><strong>Stores stock: </strong>{{ obj.stores_stock }}</small>
                  <small class="mr-2"><strong>Country stock: </strong>{{ obj.country_stock }}</small>
                  <small class="mr-2"><strong>Pending delivery: </strong>{{ obj.pending_delivery }}</small>
                </div>
                <div class="row">
                  <small class="mr-2"><strong>Rotation: </strong>
                    {% if obj.rotation > 6 %}
                    <span class="badge badge-danger">{{ obj.rotation }} weeks</span></small>
                  {% else %}
                  <span class="badge badge-success">{{ obj.rotation }} weeks</span>
                  {% endif %}
                  </small>
                  <small class="mr-2"><strong>Sellthrough: </strong>
                    {% if obj.sellthrough > 10 %}
                    <span class="badge badge-success">{{ obj.sellthrough }}%</span></small>
                  {% else %}
                  <span class="badge badge-danger">{{ obj.sellthrough }}%</span>
                  {% endif %}
                  </small>
                </div>
              </div>
              <div class="table-responsive mt-0">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>First day</th>
                    {% for day in obj.start_days %}<td>{{ day }}</td>{% endfor %}
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Week number</td>
                    {% for week in obj.week_numbers %}<td>{{ week }}</td>{% endfor %}
                  </tr>
                  <tr>
                    <td>Reference MCC Sales</td>
                    {% for mirror_mcc in obj.mirror_mcc_sales %}
                    <td>{{ mirror_mcc|default:0 }}</td>
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Actual Sales</td>
                    {% for sales in obj.sales_result %}
                    {% if sales != "" %}
                    <td>{{ sales }}</td>
                    {% else %}
                    <td>--</td>
                    {% endif %}
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Stocks</td>
                    {% for stockday in obj.stocks_data %}<td>{{ stockday|default:"0" }}</td>{% endfor %}
                  </tr>
{#                  <tr>#}
{#                    <td>Planned Sales fix</td>#}
{#                    {% for planned in obj.sales_plans %}#}
{#                    <td>{{ planned.plan|default:"0" }}</td>#}
{#                    {% endfor %}#}
{#                  </tr>#}
                  <tr>
                    <td>Planned Sales</td>
                    {% for planned in obj.sales_plans %}
                    <td>
                      <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="date" class="form-control-sm col-6" aria-label="Day" value="{{planned.day}}" />
                        <input type="hidden" name="mcc" class="form-control-sm col-6" aria-label="Mcc code" value="{{obj.mcc}}" />
                        <input type="text" name="planned" class="form-control-sm col-8" aria-label="Order units" value="{{ planned.plan }}" />
                        <button type="submit" class="waves-effect waves-light btn-success"><span><i class="fa fa-check"></i></span></button>
                    </form>
                    </td>
                    {% endfor %}
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- #/ container -->
    </div>
    <!--**********************************
                Content body end
            ***********************************-->
  </div>
  {% endblock mainbody %}
</div>
<!--**********************************
        Main wrapper end
***********************************-->
<!--**********************************
        Scripts
    ***********************************-->
{% block extrascripts %}
<script src="{% static './plugins/tables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static './plugins/tables/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static './plugins/tables/js/datatable-init/datatable-basic.min.js' %}"></script>
<script src="{% static './plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static './plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static './js/plugins-init/form-pickers-init.js' %}"></script>
{% endblock extrascripts %}
</body>
